*{
    margin: 0;
    padding: 0;
}
.icon-box{
    position: absolute;
    top: 0px;
    right: 40px;
}

body{
    border-top:red 10px solid ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://cuiet.codebrigade.in/images/Chitkara_University_pic.jpg);
    
    background-size: cover;
    

    
}
button{
    background-color: rgb(209, 14, 14);
    border: none;
    border-radius: 2px;
    text-align: center;
    font-size: large;
    padding-left: 80px;
    padding-right: 80px;
    padding-top:10px ;
    padding-bottom:10px ;
    border-radius: 5px;
}
.box{
    margin-top: 50px;
    padding: 20px;
    margin-left:600px; 
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
}
.items{
    margin-bottom: 15px;
}
input{
    padding-right: 60px;
    padding-top: 5px;
}